.box {
display: flex;
}

.sub-box {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

.content-box {
    margin-top: 15px;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid rgb(229,229,229);
    background-color: #f1e6d1;
    min-width: 520px; 
    min-height: 250px;
}