/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.accordion-parent {
    border-radius: 3px;
    padding: 96px 128px 42px 128px;
    /* box-shadow: 0 1px 2px #00000033; */
}

.headunderline {
    width: 816px;
    height: 104px;
    font-weight: bold;
    padding: 32px 0px;
    border-bottom: 2px solid #0000001a;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFF;
    /* border-radius: 16px;
    border: 2px solid #0000001a; */
}

.accordion .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 15px;
    padding: 32px;
    fill: black;
    color: black;
    transition: color 0.15s ease, fill 0.15s ease;
    font-weight: 600;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.accordion .toggle:hover {
    color: #6d6d6d;
    fill: #6d6d6d;
}

.accordion:first-child .toggle {
    border-bottom: 0;
}

.labelcard {
    display: flex;
}

.number-highlighted {
    background: transparent;
    border: 1px solid white !important;
    color: #45ae3a;
}

.accordion .toggle .direction-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid white !important;
    color: #45ae3a !important;
}

.accordion .content-parent {
    max-height: 0;
    width: 816px;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    border-bottom: 2px solid #0000001a;
}

.accordion.toggled .content-parent {
    max-height: 1000px; /*need to change after define the min-character*/
    transition: max-height 0.25s ease-in; /* New height on hover */
}

.accordion .content {
    padding: 10px 15px;
}

.content {
    display: flex;
    flex-direction: column;
}

.sub-content-head {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
} 

.sub-content-des {
    margin-top: 15px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgb(242,242,242);
    background-color: rgb(242,242,242);
    max-width: 784px; 
    min-height: fit-content;
} 
