* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.layout {
  display: flex;
  width: 1440px;
  height: 1024px;
}
.sidebar {
  width: 368px;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
}
.content {
  width: 1072px;
}
.sidebar-appLogo {
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-menu {
  flex: 1;
  padding: 0px 32px;
  font-size: 24px;
}
.sidebar-signOut {
  text-align-last: center;
  font-size: 18px;
}
.sidebar-appLogo p {
  font-size: 21px;
  font-weight: bold;
  color: #45ae3a;
}

.ant-menu-item {
  padding-inline: 0px !important;
  margin-inline: 0px !important;
  margin-block: 24px !important;
  font-size: 16px !important;
}

.ant-menu-item-selected {
  color: #45ae3a !important;
  border-right: solid #45ae3a;
  border-radius: 1px !important;
}
