.activityCard {
  padding: 96px 128px 42px 128px;
}
.activityCard-line2 {
  width: 816px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 32px 0px;
}
.activityCard-addActivityButton {
  color: #000000 !important;
  background: transparent !important;
  border: 2px solid #0000001a !important;
  box-shadow: none !important;
  width: 110px;
  height: 40px;
  font-size: 16px;
}
.activityCard-date {
  margin-right: auto;
}
.activityCard-ListmemuLabel {
  width: 816px;
  height: 104px;
  font-size: 18px;
  font-weight: bold;
  padding: 32px 0px;
  border-top: 2px solid #0000001a;
}
.activityCard-card {
  width: 816px;
  height: 194px;
  margin: 16px;
  padding: 24px 32px;
  border: 2px solid #0000001a;
  border-radius: 16px;
  display: flex;
}
.activityCard-card-imageContainer {
  width: 146px;
  height: 146px;
  border-radius: 8px;
  border: 2px solid #0000001a;
  padding: 12px;
  margin-right: 42px;
}
.activityCard-card-image {
  width: 100%;
  height: 100%;
}
.activityCard-card-topContent {
  display: flex;
  align-items: center;
}
.activityCard-card-content {
  width: 546px;
  height: 130px;
}
.activityCard-card-topContent-right {
  margin-left: auto;
  display: flex;
  gap: 8px;
}
.activityCard-card-topContent-right-timeCounting {
  color: #000000;
  background: transparent;
  border: 2px solid #0000001a;
  width: 113px;
  height: 32px;
  font-size: 21px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.anticon svg {
  width: 22px;
  height: 22px;
}
.editButton {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #45ae3a;
  padding: 4px 0px 4px px !important;
}
.editButton:hover,
.editButton:active {
  background: transparent;
  border: 1px solid white !important;
  color: #45ae3a !important;
}
.deleteButton {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f35656;
}
.deleteButton:hover,
.deleteButton:active {
  background: transparent;
  border: 1px solid white !important;
  color: #f35656 !important;
}
.activityCard-card-middleContent {
  width: 564px;
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0px;
}
.activityCard-card-lastContent {
  width: 564px;
  height: 40px;
  display: flex;
  align-items: center;
}
.activityCard-card-lastContent-text {
  margin-right: auto;
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 16px;
}
.activityCard-card-lastContent-buttons {
  display: flex;
  gap: 16px;
}
.card-buttons {
  border-radius: 8px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}
.card-startButton {
  width: 100px;
  background: #45ae3a;
  border: 1px solid white;
}
.card-startButton:hover {
  background: #75b370 !important;
}
.card-startButton:active {
  background: #359626 !important;
}
.card-finishButton {
  width: 92px;
  background: #ddf2da;
  color: #45ae3a;
  border: 2px solid #45ae3a;
}
.card-finishButton:hover {
  background: #95d491 !important;
}
.card-finishButton:active {
  background: #359626 !important;
}
