.activityHeader-line2 {
  width: 816px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 32px 0px;
}
.activityHeader-addButton {
  color: #000000 !important;
  background: transparent !important;
  border: 2px solid #0000001a !important;
  box-shadow: none !important;
  width: 110px;
  height: 40px;
  font-size: 16px;
}
.activityHeader-date {
  margin-right: auto;
}
.activityHeader-ListmemuLabel {
  width: 816px;
  height: 76px;
  font-size: 18px;
  font-weight: bold;
  padding: 32px 0px;
  border-top: 2px solid #0000001a;
}
